build/
*.elf
*.map
*.o
/3dsong/3DSong.3dsx
/3dsong/3DSong.smdh
/3dsong/3DSong.elf
.DS_Store
__pycache__/
*.pyc
3dsong/tests/test_eq
3dsong/tests/test_wav
3dsong/tests/test_formats
3dsong/tests/test_library
3dsong/tests/test_player
3dsong/tests/*.tmp
3dsong/tests/tmp/
